/* navbar.component.css */
.navbar {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .nav-link.active {
    color: #ffc107 !important;
    font-weight: bold;
  }
  
  .navbar-brand {
    font-weight: bold;
    color: #ffc107 !important;
  }