<app-navbar></app-navbar>
<h1 class="text-center text-warning mb-5">Mis Opiniones</h1>

<div class="container">
  <ul class="list-group" *ngIf="opiniones.length > 0; else noOpiniones">
    <li class="list-group-item bg-dark text-white border-warning" *ngFor="let opinion of opiniones">
      <strong>Película:</strong> {{ opinion.titulo }}<br>
      <strong>Usuario:</strong> {{ opinion.name }}<br>
      <strong>Opinión:</strong> {{ opinion.opinion }}<br>
      <strong>Nota:</strong> {{ opinion.nota }}
    </li>
  </ul>
  <ng-template #noOpiniones>
    <p class="text-center text-info">Aún no has añadido ninguna opinión.</p>
  </ng-template>
</div>