<app-navbar></app-navbar>

<h1 class="text-center text-warning mb-5">Películas</h1>

<div class="container">
  <div class="row g-4 align-items-stretch">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let peli of peliculas">
      <div
        class="bg-dark text-white p-3 rounded shadow h-100 d-flex flex-column"
        style="min-height: 450px;"
      >
        <h2 class="h5">{{ peli.title }} ({{ peli.year }})</h2>
        <img
          [src]="peli.imageUrl"
          alt="{{ peli.title }}"
          class="img-fluid rounded mb-2"
        />
        <p><strong>Director:</strong> {{ peli.director }}</p>
        <p><strong>Género:</strong> {{ peli.genre.join(', ') }}</p>
        <p><strong>Fecha</strong> {{peli.year}}</p>
        <p><strong>Clasificación:</strong> {{ peli.rating }}</p>

        <button class="btn btn-warning mt-auto" (click)="seleccionarPeli(peli)">
          Añadir opinión
        </button>

        <div
          *ngIf="peli === peliSeleccionada"
          class="mt-3 bg-secondary p-3 rounded"
        >
          <input
            [(ngModel)]="nombre"
            placeholder="Tu nombre"
            class="form-control mb-2"
          />
          <textarea
            [(ngModel)]="opinion"
            placeholder="Tu opinión"
            class="form-control mb-2"
          ></textarea>
          <input
          type="number"
          [(ngModel)]="nota"
          placeholder="Tu nota (1-10)"
          min="1"
          max="10"
          required
          class="form-control mb-2"
        />
          <button class="btn btn-light" (click)="enviar()">Enviar</button>
        </div>

        <!-- Opiniones -->
        <div *ngIf="peli.opinions?.length" class="mt-3">
          <h5>Opiniones:</h5>
          <ul class="list-group">
            <li
              *ngFor="let op of peli.opinions"
              class="list-group-item bg-dark text-white border-light"
            >
              <strong>{{ op.name }}:</strong> {{ op.opinion }}
              <strong>({{ op.nota }}/10)</strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
